extends layout

block content
  h1= title

  form(id='gadgetsForm', action="/resource/gadgetss/", method="POST")
    div.form-group
        label.gadgetsAttr(for='gadget_type') gadgets type
        input#gadgettype(type='text', name='gadget_type')
    div.form-group
        label.gadgetsAttr(for='gadget_price') gadgets price
        input#gadgetprice(type='text', name='gadget_price')
    div.form-group
        label.gadgetsAttr(for='gadget_version') gadgets version
        input#gadgetversion(type='number', name='gadget_version')
    input(type="submit")

  script.
    document.forms['gadgetsForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Save succeded")
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Save failed " + error )
      });
    });