extends layout

block content
  h1= title

    - let gadgetsid = toShow._id
    - let gadgettype = toShow.gadget_type
    - let gadgetprice = toShow.gadget_price
    - let gadgetversion = toShow.gadget_version

    div.row(class='mb-2')
      div.mr-1 ID is
      div #{gadgetsid}
    - let actionid = "/resource/gadgetss/" + gadgetsid
    form(id='gadgetsForm', action= actionid, method="PUT")
      div.form-group
        label.gadgetsAttr(for='gadget_type') gadgets type
        input#gadgetstype(type='text' name='gadget_type', value= gadget_type )
      div.form-group
        label.gadgetsAttr(for='gadget_price') gadgets price
        input#gadgetprice(type='number' name='gadget_price', value= gadget_price )
      div.form-group
        label.gadgetsAttr(for='gadget_version') gadgets version
        input#gadgetversion(type='text' name='gadget_version', value= gadget_version )
      input(type="submit")

    script.
      document.forms['gadgetsForm'].addEventListener('submit', (event) => {
        event.preventDefault();
        // TODO do something here to show user that form is being submitted
        fetch(event.target.action, {
          method: 'PUT',
          body: new URLSearchParams(new FormData(event.target)) // event.target is the form
        }).then((resp) => {
          return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
          alert("Update succeded")
          // TODO handle body
        }).catch((error) => {
          // TODO handle error
          alert("Update failed " + error )
        });
      });