extends layout

block content
  h1= title

  form(id='gadgetsForm', action="/resource/gadgets/", method="POST")
    div.form-group
        label.gadgetsAttr(for='gadget_type') gadgets type
        input#gadget_type(type='text', name='gadget_type')
    div.form-group
        label.gadgetsAttr(for='gadget_version') gadgets version
        input#gadget_version(type='text', name='gadget_version')
    div.form-group
        label.gadgetsAttr(for='gadget_price') gadgets price
        input#gadget_price(type='number', name='gadget_price')
    input(type="submit" class = "btn btn-primary")

    script.
      document.forms['gadgetsForm'].addEventListener('submit', (event) => {
        event.preventDefault();
        // TODO do something here to show user that form is being submitted
        fetch(event.target.action, {
          method: 'POST',
          body: new URLSearchParams(new FormData(event.target)) // event.target is the form
        }).then((resp) => {
          console.log(resp,"hello")
          return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
          alert("Save succeded")
          // TODO handle body
        }).catch((error) => {
        // TODO handle error
          alert("Save failed " + error )
       });
      });